<!DOCTYPE html>
<head>
    <title>About PAge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <div class="avatar">
    <img src="/img/myown.jpeg" width="250px">
    </div>
    {{>footer}}
</body>
</html>