<!DOCTYPE html>
<head>
    <title>Help PAge</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <h1>{{msg}}</h1>
    {{>footer}}
</body>
</html>